<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "blogs/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "blogs/css/style.css" %}">
</head>
<body style="background:#ced4da">
  
    {% include "blogs/navbar.html" %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% block msg %} {% endblock msg %}
            </div>
        </div>
        <div class="row">

            {% block side %}{% endblock side %}

            {% block content %}{% endblock content %}

        </div>
    </div>
    


{% comment %}  footer {% endcomment %}

<footer class="bg-dark text-white p-2 ">
    <div class="container ">
        <div class="row">
             <p class="my-2 text-center">
                All Rights Reserved by Sachin Gupta @ 2025. 
                <span class="float-end">IP : </span>
            </p>
        </div>
    </div>
</footer>


    <script src="{% static 'blogs/js/bootstrap.js' %}"></script>
    <script src="{% static 'blogs/js/popper.js' %}"></script>
    <script src="{% static 'blogs/js/jquery.js' %}"></script>
</body>
</html>