{% extends "blogs/base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="row shadow-sm mb-4 bg-warning bg-gradient bg-opacity-75">
        <div class="col-12 d-flex my-3 justify-content-end">
            <h3 class="mx-auto shadow-green">Dashboard</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                            {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
        

<div class="col-md-12 mb-3 mh-100">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Author</th>
            <th scope="col col-12">Action</th>
            </tr>
        </thead>
        {% for blog in blogs %}
            <tbody>
                <tr>
                <th scope="row">{{blog.id}}</th>
                <td>{{blog.title}}</td>
                <td>{{blog.excerpt|truncatewords:20}}</td>
                <td>{{blog.author}}</td>
                <td>
                    <div class="d-flex gap-2">
                        <a href="{% url 'post' blog.slug %}"> <input type="submit" value="View" class="btn btn-primary"> </a> 
                        <a href="{% url 'edit-post' blog.slug %}"> <input type="submit" value="Edit" class="btn btn-info ms-2"> </a>     
                        <form action="{% url 'delete-post' blog.slug %}" method="POST" onsubmit="return confirm('Are you sure you want to delete this post?');">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>           
                    </div>
                </td>
                </tr>
            </tbody>      
        {% endfor %}
    </table>
</div>

{% endblock content %}