{% extends "blogs/base.html" %}

{% block title %} New Post {% endblock title %}

{% block content %}
<div class="col-10 mx-auto">
    <h3 class="m-2">Add New Post</h3>
    <form action="" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        
        {% if messages %}
        <div class="row col-8">
            {% for message in messages %}
                <span class="alert alert-{{message.tags}}">{{message}}</span>
            {% endfor %}
        </div>
        {% endif %}
        
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
        {% endif %}

        {% for field in new_post %}
            <label for="field.id_for_label">{{field.label}}</label>
            <div class="my-2">
                {{field}} {% if field.error %}<span class="alert alert-danger">{{error|striptags}}</span>{% endif %}
            </div>
        {% endfor %}

        <input type="submit" value="Create" class="btn btn-success my-3">
    </form>

</div>

{% endblock content %}