# Virtual environment
django_blog_env/

# Media files (user uploads)
BlogVerse/media

# Images folder
images/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Django migrations (optional)
**/migrations/
!**/migrations/__init__.py

# VSCode or IDE-specific files (optional)
.vscode/
.idea/

# Ignore Readme FIle
README.md

# DB
BlogVerse/db.sqlite3
